.eval,
.define {
  margin: 1rem 0 1rem 1.5rem;
  border-left: 2px solid #686863;
  padding-left: 6px;
}

.eval > pre,
.define > pre {
  position: relative;
  overflow-x: visible;
  z-index: 0;
  padding: 0;
}

.eval > figcaption,
.define > figcaption {
  line-height: 1rem;
  height: 1rem;
}

.define {
  width: 100%;
}

.define > pre[class*='language-'] {
  background: none;
}

.highlight,
.code {
  font-family: 'IBM Plex Mono', monospace;
  background: none;
  color: white;
}

.highlight + .code {
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
}

.nextValue > pre {
  min-height: calc(5 * 1.25em + 1rem);
}

.line {
  width: max-content;
  white-space: inherit;
  background: inherit;
  box-shadow: 0 0 0.1em 0.1em black;
}

.line::after {
  display: inline-block;
  content: 'â®';
  opacity: 0.4;
  font-size: 50%;
  padding: 0 0.5em;
}

dl.specs {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 0.75rem;
  line-height: inherit;
  display: inline-block;
  padding: 0 0.25rem;
  color: #a8a8a1;
  font-style: italic;
}

dl.specs > * {
  display: inline;
}

dl.specs > dt {
  opacity: 50%;
}

dl.specs > dd {
  font-style: italic;
}

dl.specs > dt::after {
  content: ':';
}

dl.specs > dt + dd {
  margin-left: 0.5em;
}
