section.eval {
  border: 1px solid #777;
  padding: 5px;
  background: black;
}

.eval > pre,
.define > pre {
  position: relative;
  overflow-x: visible;
  z-index: 0;
  padding: 0;
}



.eval > footer,
.define > footer {
  line-height: 1rem;
  height: 1rem;
  background: rgba(150,150,150,0.5);
}

.define {
  width: 100%;
}

.highlight,
.code {
  display: block;
  font-family: 'IBM Plex Mono', monospace;
  line-height: 1.25em;
  color: white;
}

.highlight {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  /* opacity: 0; */

}

.define code.highlight {
  box-shadow: none;
  background: transparent;
}

.code {
  /* color: transparent ;*/
  color: red;
}

.nextValue > pre {
  min-height: calc(5 * 1.25em + 1rem);
}

.eval .line {
  width: max-content;
  white-space: inherit;
  background: inherit;
  box-shadow: 0 0 0.1em 0.1em black;
}

.highlight > .line::after {
  display: inline-block;
  content: 'â®';
  opacity: 0.4;
  font-size: 50%;
  padding: 0 0.5em;
  vertical-align: top;
}

dl.specs {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 0.75rem;
  line-height: inherit;
  display: inline-block;
  padding: 0 0.25rem;
  color: #a8a8a1;
  font-style: italic;
}

dl.specs > * {
  display: inline;
}

dl.specs > dt {
  opacity: 50%;
}

dl.specs > dd {
  font-style: italic;
}

dl.specs > dt::after {
  content: ':';
}

dl.specs > dt + dd {
  margin-left: 0.5em;
}
