@import './theme.css';

pre.codeblock {
  position: relative;
  overflow: auto;
  z-index: 0;
  padding: 0;
  flex-grow: 1;
  font-size: var(--textSizeCode);
  margin: 0;
}

.define {
  width: 100%;
}

.highlight,
.code {
  display: block;
  padding: var(--spaceVerticalCode) 0;
  font-family: var(--fontCode);
  line-height: var(--lineHeightCode);
  color: var(--textColorCode);
}

.code {
  margin: 0 var(--spaceHorizontalCode);
}

.highlight {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  padding-right: 2em;
  /* opacity: 0; /* enable to reveal unhighlighted code below */
  pointer-events: none;
  z-index: 1;
  background: var(--backgroundCode);
}

.code {
  /* color: red ; /* enable for testing highlight alignment */
}

.nextValue > pre {
  min-height: calc(5 * var(--lineHeightCode) + 1rem);
}

.highlight .line {
  position: relative;
  width: max-content;
  padding: 0 var(--spaceHorizontalCode);
  white-space: inherit;
  background: inherit;
  box-shadow: var(--shadowCodeLine);
  background: var(--backgroundCodeLine);
}

.highlight > .line::before {
  content: ' ';
  width: 0;
  vertical-align: top;
}

.highlight > .line::after {
  position: absolute;
  top: 0;
  left: 100%;
  content: 'â®';
  padding: 0 0.5em;
}

.highlight > .line::before,
.highlight > .line::after {
  display: inline-block;
  opacity: var(--opacityVisibleWS);
  font-size: var(--textSizeVisibleWS);
  color: var(--textColorVisibleWS);
}

.highlight > .line:last-child:empty {
  display: none;
}
