@import './theme.css';

.editor {
  position: relative;
  overflow-x: visible;
  overflow-y: auto;
  caret-color: var(--cursorColorEditor);
}

.focus {
  color: var(--textColorFocusEditor);
  background: var(--backgroundFocusEditor);
}

.editor.discuss {
  width: 40vw;
  height: 100%;
}

.editor.eval {
  position: absolute;
  bottom: 0rem;
  right: -60vw;
  left: 40vw;
  top: auto;
  margin: 0.5rem 2rem;
}

.modeline {
  color: var(--textColorModeline);
  background: var(--backgroundModeline);
  font-family: var(--fontCode);
  font-size: var(--textSizeModeline);
  font-style: var(--textStyleModeline);
  line-height: 1.5;
  border-bottom: var(--borderModeline);
}

.modeline span {
  padding: 0 0.5em;
  text-transform: uppercase;
}
