@import './theme.css';

.editor {
  position: relative;
  overflow-x: visible;
  overflow-y: auto;
  caret-color: var(--cursorColorEditor);
}

.focus {
  color: var(--textColorFocusEditor);
  background: var(--backgroundFocusEditor);
}

.editor.eval {
  position: absolute;
  bottom: 0rem;
  right: calc(var(--frameBorderThickness) - 60vw);
  left: 40vw;
  top: auto;
}

.modeline {
  color: var(--textColorModeline);
  background: var(--backgroundModeline);
  font-family: var(--fontCode);
  font-size: var(--textSizeModeline);
  font-style: var(--textStyleModeline);
  line-height: 1.5;
  border-bottom: var(--borderModeline);
  border-radius: var(--borderRadiusCode) var(--borderRadiusCode) 0 0;
}

.modeline span {
  padding: 0 0.5em;
  text-transform: uppercase;
}
