@import './theme.css';

.editor {
  position: relative;
  overflow-x: visible;
  overflow-y: auto;
  caret-color: var(--cursorColorEditor);
}

.focus {
  color: var(--textColorFocusEditor);
  background: var(--backgroundFocusEditor);
}

.editor.discuss {
  width: 40vw;
  height: 100%;
  padding: 10rem 0 4rem 0;
  border-right: var(--borderPage);
}

.editor.eval {
  width: 60vw;
  height: 20vh;
  flex-shrink: 0;
  height: 25vh;
  display: flex;
  flex-direction: column;
}

.modeline {
  color: var(--textColorModeline);
  background: var(--backgroundModeline);
  font-family: var(--fontCode);
  font-size: var(--textSizeModeline);
  font-style: var(--textStyleModeline);
  line-height: 1.5;
  border-bottom: var(--borderModeline);
}

.modeline span {
  padding: 0 0.5em;
  text-transform: uppercase;
}
