.prose {
  font-family: var(--fontBody);
  font-weight: 300;
  line-height: 1.3;
  color: #f2f2e0;
  outline: none;
  padding: 10em 0 1em 0;
}

.prose > * {
  margin-left: 1.5rem;
  width: 80%;
  position: relative;
}

.prose > pre,
.prose > ul,
.prose > ol {
  margin-left: 2rem;
}

.prose > [contenteditable]:focus-within {
  background: black;
  outline: none;
}

.prose > pre > *:focus {
  outline: none;
}

.prose > h1,
.prose > h2,
.prose > h3,
.prose > h4,
.prose > h5,
.prose > h6 {
  font-family: var(--fontDisplay);
  font-weight: 800;
  color: #74ec70;
}

.prose > h1 {
  font-size: 175%;
}
.prose > h1 {
  font-size: 150%%;
}
.prose > h3 {
  font-size: 125%;
}

.prose > pre[class*='language-'] {
  margin: 0 0 0 2em;
  padding: 0;
  overflow: visible;
}

.prose > * + *,
.prose > * + pre[class*='language-'] {
  margin-top: 0.5em;
}

.prose > h1 + * {
  margin-top: 2em;
}

.prose ul,
.prose ol {
  padding-left: 1em;
}

.prose ul > li,
.prose ol > li {
  position: relative;
}

.prose > :not(pre) code {
  color: #74ec70;
  font-family: var(--fontCode);
  background: black;
  padding: 0 0.25em;
}

.prose > :not(pre) a {
  color: inherit;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.4);
  padding: 0 0.25em;
  border: 1px solid transparent;
  border-radius: 0.25em;
  cursor: pointer;
}

.prose > :not(pre) a:hover {
  background: none;
  border-color: rgba(255, 255, 255, 0.4);
}

.prose > :not(pre) strong {
  font-weight: 600;
}

.prose > :not(pre) em {
  font-style: italic;
}

.prose > br {
  margin: 0;
  line-height: 0;
}

.prose > *::before,
.prose > * > li::before,
.prose > :not(pre) *::before,
.prose > :not(pre) *::after {
  display: inline;
  color: #fbbe49;
  background: #ffda93db;
  color: black;
  font-family: var(--fontCode);
  line-height: 0.8em;
  font-style: normal;
  border-radius: 0.125rem;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.125em;
  vertical-align: 0.2em;
  border: 0.5px solid;
  margin: 0 0.1rem;
}

.prose > *::before,
.prose > * > li::before {
  display: block;
  position: absolute;
  right: 100%;
  top: 0.2em;
  height: 1rem;
  width: 1rem;
}

.prose > pre::before,
.prose > ul::before,
.prose > ol::before {
  display: block;
  position: absolute;
  right: 100%;
}

.prose > [data-mark-before]:focus::before {
  content: attr(data-mark-before);
}

.prose > *:focus > li[data-mark-before] {
  list-style: none;
}

.prose > *:focus > li[data-mark-before]::before {
  content: attr(data-mark-before);
}

.prose > pre:focus-within::before {
  content: attr(lang);
}

.prose > :not(pre):focus [data-mark-around]::before,
.prose > :not(pre):focus [data-mark-around]::after {
  content: attr(data-mark-around);
}

.prose > :not(pre):focus a::before {
  content: '[';
}

.prose > :not(pre):focus a::after {
  content: ']';
}

.prose > :not(pre):focus a[href]::after {
  content: '](' attr(href) ')';
}
