:root {
  --fontDisplay: 'Hepta Slab', serif;
  --fontBody: 'Inter', sans-serif;
  --fontCode: 'Anonymous Pro', monospace;
  --fontControl: inherit;

  --colorCanvas: #faf8fa;
  --colorInk: #282426;
  --colorKnockout: white;
  --colorFullInk: black;
  --colorHighlight: #99bb41;
  --colorSubdued: #736991;
  --colorMark: #fff1d6;

  --backgroundColorBase: var(--colorCanvas);
  --backgroundColorGlare: var(--colorMark);
  --backgroundPage: transparent;
  --backgroundProse: radial-gradient(
    ellipse at 50% 25vh,
    var(--backgroundColorGlare),
    var(--backgroundColorBase) 15vw 5vh
  );
  --backgroundFooter: var(--colorMark);
  --backgroundRender: var(--colorKnockout);
  --backgroundCode: rgba(0, 0, 0, 0.5);
  --backgroundCodeLine: var(--colorInk);
  --backgroundModeline: var(--colorSubdued);
  --backgroundFocusProse: var(--colorMark);
  --backgroundInlineCode: var(--colorFullInk);
  --backgroundControl: transparent;
  --backgroundLink: var(--colorMark);
  --backgroundMarkup: var(--colorMark);
  --backgroundFocusEditor: var(--colorFullInk);

  --borderFooter: 1px solid #ccc;
  --borderControl: 1px solid currentColor;
  --borderLink: 1px solid transparent;
  --borderMarkup: 0.5px solid currentColor;
  --borderColorHoverLink: rgba(255, 255, 255, 0.4);
  --borderModeline: 1px solid currentColor;

  --borderRadiusLink: 0.25em;
  --borderRadiusMarkup: 0.125em;
  --borderRadiusRender: 0;

  --shadowCodeLine: 0.1em 0 0.1em 0.1em var(--backgroundCodeLine);
  --shadowRender: none;

  --spaceHorizontalCode: 0.25em;
  --spaceVerticalCode: 0.5em;

  --textColorFooter: var(--colorSubdued);
  --textColorControl: var(--colorSubdued);
  --textColorProse: var(--colorInk);
  --textColorHeading: var(--colorSubdued);
  --textColorInlineCode: var(--colorHighlight);
  --textColorMarkup: var(--colorSubdued);
  --textColorHoverLink: var(--colorSubdued);
  --textColorCode: var(--colorKnockout);
  --textColorModeline: var(--colorMark);
  --textColorFocusEditor: var(--colorKnockout);
  --textColorVisibleWS: var(--colorMark);

  --textSizeControl: inherit;
  --textSizeProse: 1rem;
  --textSizeH1: 175%;
  --textSizeH2: 150%;
  --textSizeH3: 125%;
  --textSizeMarkup: 0.8rem;
  --textSizeVisibleWS: 80%;
  --textSizeCode: 1rem;
  --textSizeModeline: 0.75rem;
  --textSizeFooter: 1rem;

  --cursorColorEditor: var(--colorHighlight);

  --textWeightProse: 300;
  --textWeightHeading: 800;
  --textWeightStrong: 600;
  --textWeightMarkup: 400;
  --textWeightModeline: 400;

  --textStyleEmphasis: italic;
  --textStyleMarkup: normal;
  --textStyleModeline: italic;

  --lineHeightProse: 1.5;
  --lineHeightMarkup: 0.8em;
  --lineHeightCode: 1.375em;
  --lineHeightModeline: 1rem;

  --opacityDisabledControl: 0.5;
  --opacityVisibleWS: 1;
  --opacityLabel: 0.5;
}
