*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.workbook {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at right, #fff, #fff 50vw, #203f48 100vw);
}

.workbook > header {
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  font-family: sans-serif;
  background: #f2f2f2;
  color: #999;
  padding: .5rem;
}

.workbook > footer {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: monospace;
  bottom: 0;
  height: 1.5rem;
  width: 100%;
  padding: 0 0.5rem;
  line-height: 1.5rem;
  font-size: .75rem;
  border-top: 1px solid #ccc;
  background: #282426;
  color: #d4f8ee;
}

.workbook > footer > * {
  display: inline-block;
  font-size: inherit;
  flex-grow: 0;
}

.workbook > footer > h6 {
  flex-basis: 0;
  flex-grow: 1;
}

.workbook > footer select,
.workbook > footer button {
  border: 1px solid #666;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  padding: 0 0.5em;
  text-align: center;
}

.workbook > footer select {
  width: 25em;
}

.workbook > footer select > option {
  color: #282426;
}

.workbook > footer button:disabled {
  opacity: 0.5;
}

.layout {
  display: grid;
  position: relative; /* inline style to set top */
  grid-template-rows: [doc] 1fr [view] 1fr;
  grid-auto-columns: 100vw;
  grid-auto-flow: row;
  justify-items: start;
  transition: left 0.5s ease-in-out;
}

.layout > .container {
  display: contents;
}

.layout > ol,
.container > ol {
  /* each <ol> is a column of the grid */
  display: contents;
  list-style: none;
}

.layout > ol > li {
  /* document view */
  grid-row-start: doc;
  align-self: end;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 1.5rem;
}

.container > ol > li {
  /* rendered view */
  grid-row-start: view;
  place-self: center;
  overflow: visible;
  position: relative;
  top: -50%;
  right: -50%;
  height: 100vh;
  width: 50vw;
  z-index: 0;
}

.doc {
  font-family: sans-serif;
  color: #f2f2e0;
  width: 80%;
}

.doc > * {
  margin: 0 .5em;
}

.doc > * + * {
  margin-top: .5em;
}

.doc > h1 + * {
  margin-top: 2em;
}

.doc > br {
  margin: 0;
  line-height: 0;
}

.doc > pre {
  margin: 1rem 0;
  padding: 0 .5rem;
  border-left: 2px solid #686863;
}

.doc > pre > code::after {
  content: attr(class);
  display: block;
  font-family: sans-serif;
  font-size: .75rem;
  color: #a8a8a1;
  font-style: italic;
  margin-top: .5rem;
}

.view {
  margin: 1rem .5rem;
  border-left: 2px solid #686863;
}

.view > figcaption {
  line-height: 1rem;
  height: 1rem;
}


.specs {
  font-family: sans-serif;
  font-size: .75rem;
  line-height: inherit;
  display: inline-block;
  padding: 0 0.25rem;
  color: #a8a8a1;
  font-style: italic;
}

dl.specs > * {
  display: inline;
}

dl.specs > dt {
  opacity: 50%;
}

dl.specs > dd {
  font-style: italic;
}

dl.specs > dt::after {
  content: ':';
}

dl.specs > dt + dd {
  margin-left: .5em;
}

.code {
  font-family: monospace;
  padding: .5em;
  line-height: 1.5em;
  //min-height: calc(5 * 1.5em + 1rem);
}

.code > span {
  background: #d4f8ee;
  color: #484248;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  padding: 0.25em;
}
