*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.workbook {
  --fontDisplay: 'Hepta Slab', serif;
  --fontBody: 'Inter', sans-serif;
  --fontCode: 'Anonymous Pro', monospace;
  font-family: var(--fontBody);

  position: fixed;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at 75% 25%, #d38a01, #0d0841 60vw);
  padding-bottom: 2rem;
}

.workbook > header {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: var(--fontDisplay);
  background: #f2f2f2;
  color: #999;
  padding: 0.5rem;
}

.workbook > footer {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--fontDisplay);
  bottom: 0;
  height: 1.5rem;
  width: 100%;
  padding: 0 0.5rem;
  line-height: 1.5rem;
  font-size: 0.75rem;
  border-top: 1px solid #ccc;
  background: #282426;
  color: #d4f8ee;
}

.workbook > footer > * {
  display: inline-block;
  font-size: inherit;
  flex-grow: 0;
}

.workbook > footer > h6 {
  font-weight: normal;
  font-family: var(--fontCode);
  flex-basis: 0;
  flex-grow: 1;
}

.workbook > footer select,
.workbook > footer button {
  border: 1px solid #666;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  padding: 0 0.5em;
  text-align: center;
}

.workbook > footer select {
  width: 25em;
}

.workbook > footer select > option {
  color: #282426;
}

.workbook > footer button:disabled {
  opacity: 0.5;
}

.layout {
  display: grid;
  position: relative; /* inline style to set top */
  height: 100%;
  grid-template-rows: [doc] 100vh [view] 100vh;
  grid-auto-columns: 100vw;
  grid-auto-flow: row;
  justify-items: start;
  transition: left 0.5s ease-in-out;
}

.layout > .container {
  display: contents;
}

.layout > ol,
.container > ol {
  /* each <ol> is a column of the grid */
  display: contents;
  list-style: none;
}

.layout > ol > li {
  /* document view */
  grid-row-start: doc;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: flex-end;
  gap: 2rem;
}

.container > ol > li {
  /* rendered view */
  display: flex;
  align-items: center;
  grid-row-start: view;
  overflow: auto;
  transform: translate(40vw, -100vh);
  padding: 4rem 4rem 0 2rem;
  width: 60vw;
  height: 75vh;
  position: relative;
  z-index: 1;
}

.container > ol > li::before {
  content: '';
  background: white;
  box-shadow: 0 0 3rem rgb(40 40 40 / 50%);
  border-radius: 2rem 2rem 0 0;
  margin: ;
  display: block;
  position: absolute;
  box-sizing: content-box;
  padding: ;
  z-index: -1;
  top: 2rem;
  left: 0;
  bottom: 0;
  right: 2rem;
}
