*,
*::after,
*::before {
  box-sizing: border-box;
}

@import './theme.css';

.workbook {
  font-family: var(--fontBody);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--backgroundPage);
  z-index: 0; /* stacking context */
}

.menubar {
  --frameBorderThickness: 10px;
  position: absolute;
  padding: var(--frameBorderThickness);
  align-items: end;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: var(--fontDisplay);
  font-size: var(--textSizeFooter);
  color: var(--textColorFooter);
  display: flex;
  justify-content: space-between;
  overflow: visible;
}

.menubar::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40vh;
  background: radial-gradient(
    ellipse at 80% 100%,
    var(--colorSubdued),
    var(--colorBase) 60vw 50vh
  );
  z-index: -1;
}

.menubar > svg:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--colorSubdued);
  opacity: var(--opacityFooterBackground);
  border-radius: inherit;
}

.menubar nav {
  display: flex;
  flex-direction: row;
  flex: 20vw;
  justify-content: center;
  align-items: end;
  padding: 0 1rem;
  border-radius: 0.5rem;
  overflow: visible;
  font-size: var(--textSizeControl);
  gap: 1rem;
}

.menubar nav:first-of-type {
  justify-content: start;
}

.menubar nav:last-of-type {
  justify-content: end;
}

.menubar h6 {
  margin: 0;
  font-size: 1em;
  line-height: 1.5rem;
  flex: 40vw;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menubar dl {
  display: flex;
  flex: 20vw;
  font-weight: 400;
  text-align: right;
  justify-content: end;
  gap: 0.25rem;
  padding: 0 0.5rem;
  margin: 0;
  white-space: nowrap;
}

.menubar dl > * {
  margin: 0;
  height: var(--sizeControl);
  line-height: 1.5rem;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
}

.menubar dl > dt {
  font-weight: 700;
}

.menubar dl > dd {
  background: var(--colorBase);
}

.menubar .button {
  display: inline-block;
  background: var(--backgroundControl);
  border: var(--borderControl);
  border-radius: 0.25rem;
  height: var(--sizeControl);
  padding: 0 0.5rem;
  line-height: var(--sizeControl);
  flex-grow: 0;
  font-family: inherit;
  text-decoration: none;
  white-space: nowrap;
  color: var(--colorKnockout);
  cursor: pointer;
}

.menubar .button:disabled {
  opacity: var(--opacityDisabledControl);
}

.menubar .button:empty::before {
  font-family: var(--fontSymbol);
  font-weight: normal;
  font-size: inherit;
  display: inline-block;
}

.menubar .button svg {
  fill: currentColor;
  height: var(--sizeControl);
  width: var(--sizeControl);
  vertical-align: top;
}

.menubar .button span {
  vertical-align: middle;
  margin-left: 0.5em;
}

.toc {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  right: 0.5rem;
  width: 60vw;
  list-style: inside;
  counter-reset: toc 0;
}

.toc > li {
  position: relative;
  background: var(--backgroundPopover);
  border: var(--borderPopover);
  border-radius: var(--borderRadiusPopover);
  box-shadow: var(--shadowPopover);
  text-align: left;
  font-family: var(--fontDisplay);
  font-size: var(--textSizeBody);
  font-weight: var(--textWeightProse);
  height: 4rem;
  counter-increment: toc 1;
}

.toc > li::marker {
  font-family: var(--fontDisplay);
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
  color: #ccc;
  content: counter(toc);
}

.toc li > a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 0.5em 0 2em;
  font-weight: var(--textWeightHeading);
  color: inherit;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

.layout {
  display: grid;
  position: relative; /* inline style to set top */
  height: 100vh;
  grid-template-rows: [view] 1fr [doc] 1fr [footer] var(--heightFooter);
  grid-auto-columns: 100vw;
  grid-auto-flow: row;
  justify-items: start;
  transition: left 0.5s ease-in-out;
  pointer-events: none;
}

.layout > .container {
  display: contents;
}

.layout > ol,
.container > ol {
  /* each <ol> is a column of the grid */
  display: contents;
  list-style: none;
  height: 100%;
  pointer-events: all;
}

.layout > ol > li {
  /* document view */
  grid-row-start: doc;
  width: 40vw;
  padding: 10px;
  transform: translate(60vw, -50%);
}

.container > ol > li {
  /* rendered view */
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row-start: view;
  overflow: auto;
  position: relative;
  padding: var(--sizeRenderPadding);
  height: 150%;
  width: 60vw;
}

.container > ol > li > * {
  max-width: 100%;
  max-height: 100%;
}
